/**
 * Color palette (by Azis Hertanto — https://dribbble.com/shots/2623951-Flat-Color-Palette)
 */

$grapefruit-1: #f76d82;
$grapefruit-2: #ec5564;
$grapefruit-3: #d94452;

$bittersweet-1: #fc8370;
$bittersweet-2: #fb6d51;
$bittersweet-3: #e8563f;

$sunflower-1: #fcd277;
$sunflower-2: #fecd57;
$sunflower-3: #f5ba45;

$grass-1: #b4e080;
$grass-2: #9ed36a;
$grass-3: #8ac054;

$mint-1: #62ddbd;
$mint-2: #46cead;
$mint-3: #35bb9b;

$aqua-1: #53caf0;
$aqua-2: #3db2e5;
$aqua-3: #2b9cd2;

$bluejeans-1: #73b1f4;
$bluejeans-2: #5e9cea;
$bluejeans-3: #4b89da;

$lavender-1: #b3a5ef;
$lavender-2: #ac92ea;
$lavender-3: #967ada;

$chewinggum-1: #f299ce;
$chewinggum-2: #eb87bf;
$chewinggum-3: #d670ac;

$skintone-1: #f4d0b5;
$skintone-2: #f0c8a5;
$skintone-3: #e4b693;

$light-grey-1: #f4f6f9;
$light-grey-2: #e5e8ec;
$light-grey-3: #cbd0d8;

$dark-grey-1: #a9b1bc;
$dark-grey-2: #646c77;
$dark-grey-3: #424953;