@mixin horizontal-margin($property) {
    margin: 0 $property;

    &:first-child {
        margin-left: 0;
    }

    &:last-child {
        margin-right: 0;
    }
}

@mixin vertical-margin($property) {
    margin: $property 0;

    &:first-child {
        margin-top: 0;
    }

    &:last-child {
        margin-bottom: 0;
    }
}
