@import-normalize;
@import 'styles/colors';

// Common
* {
    box-sizing: border-box;
}

body {
    width: 100vw;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 18px;
    color: $secondary;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
}

// Links
a,
a:link,
a:visited {
    color: inherit;
    text-decoration: none;
    outline-style: none;

    img {
        border: none;
    }
}

p a, li a, .paragraph a {
    transition: color .3s ease;
    text-decoration: underline !important;

    &:hover {
        color: black;
    }
}

// Writing
h1 {
    font-size: 2.1rem;
    margin-block: 1rem;
    text-align: center;
}

h2 {
    font-size: 2rem;
    margin-block: 0 2rem;
    text-align: center;
}

h3 {
    font-size: 1.5rem;
    margin-block: 1rem 2rem;
    text-align: center;
    color: $dark-grey-3;
}

p {
    width: 100%;
    margin-block: 0 2rem;
    line-height: 1.2em;
    text-align: justify;
    hyphens: auto;

    &:last-child {
        margin-block: 0;
    }
}

ul {
    margin-block: 0 2rem;
    line-height: 1.2em;

    li {
        margin-block: .5rem;

        &:last-child {
            margin-block: 0;
        }
    }
}

p, ul {
    max-width: 900px;
}

// Layout
header, section {
    width: 100%;
    min-height: 100vh;
    padding: 7vh 10vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-position: center;
    background-size: cover;
}

article {
    section:nth-child(odd) {
        background-color: #f9f9f9;
    }

    .row {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        &.stretch {
            align-items: stretch;
        }
    }

    .column {
        display: flex;
        flex-direction: column;

        &.stretch {
            align-items: stretch;
        }
    }
}
